<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>OBJECTSANS_BOLD.ttf</string>
		<string>OBJECTSANS_BOLDSLANTED.ttf</string>
		<string>OBJECTSANS_HEAVY.ttf</string>
		<string>OBJECTSANS_HEAVYSLANTED.ttf</string>
		<string>OBJECTSANS_REGULAR.ttf</string>
		<string>OBJECTSANS_SLANTED.ttf</string>
		<string>OBJECTSANS_THIN.ttf</string>
		<string>OBJECTSANS_THINSLANTED.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
	<key>WKBackgroundModes</key>
	<array>
		<string>workout-processing</string>
	</array>
</dict>
</plist>
